.genericCardContainer {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .genericItems {
        padding: 10px;
        display: flex;
        gap: 20px;
        background-color: rgba(128, 128, 128, 0.248);
        border-radius: 20px;
    }

    .genericCard {
        display: flex;
        gap: 30px;
    }
}

